logs

.env

# Ignore the alertmanager configuration file. 
# Use alertmanager.template.yml and replace values in this directory instead.
# ./process_templates.sh will do this automatically.
alertmanager.yml